@charset "ISO-8859-1";

.box {
	border-style: solid;
	padding: 25px;
}


.end {
	display: flex;
	justify-content: end;
}

.away {

	display: flex;
	justify-content: space-between;
	
}

.awayer {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.helper{
	width: 100px;
	margin: 20px;
}

.helper2{
	width: 200px;
	display: flex;
	justify-content: space-between;

}