@charset "ISO-8859-1";

.title {
	display: flex;
	justify-content: center;
	color: blue;
}

.space {
	display: flex;
	justify-content: space-around;
}

.next {
	display: flex;
	
}

.away {
	display: flex;
	justify-content: space-between;
}

.big {
	margin: 10px;
	margin-bottom: 40px;
}

.bigger {
	
	margin-top: 30px;
}

.buttons {
	display: flex;
	float: right;
}